.carousel {
  @apply relative h-[150px] w-full;
}

.control {
  background-color: #00000060;
  position: absolute;
  cursor: pointer;
  padding: 0.25em;
  color: white;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

  &:hover,
  &:focus {
    opacity: 1;
  }

  &.next {
    @apply right-0;
  }
  &.prev {
    @apply left-0;
  }
}

.arrow {
  display: flex;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.25em;
  height: 0.25em;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}
